<div class="container">
  <h2>Device Info Information</h2>
  <div class="info">
    <div class="row">
      <div class="label">DEVICE_NAME</div>
      <div class="value">Next Gen Moisture Analyzer</div>
    </div>
    <div class="row">
      <div class="label">DEVICE_SERIAL_NO</div>
      <div class="value">123456</div>
    </div>
    <div class="row">
      <div class="label">DEVICE_VERSION</div>
      <div class="value">OLV</div>
    </div>
    <div class="row">
      <div class="label">MODEL</div>
      <div class="value">1.0.0</div>
    </div>
  </div>

  <h2>Parameter Lists</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Index</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data">
      <td>{{ item.name }}</td>
      <td><!--<input type="text" [(ngModel)]="item.value" )]>--> {{ item.unit }}</td>
    </tr>
    <tr>
      <button (click)="getData()" class="btn">Get Data</button>
      <button (click)="setData()"  class="btn">Set Data</button>
    </tr>
    </tbody>
  </table>


