.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;

}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  align-items: center;
}

.label {
  flex: 1;
  font-weight: bold;
}

.value {
  flex: 2;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0px;
}

th,
td {
  padding: 10px;
  text-align: start;
  align-items: start;
  border: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}
.btn {
  margin-left: 10px;
}
